@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@300&family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$transp: rgba(0, 0, 0, 0);
$dark: #7595c2;
// $ink: #47463d;
$ink: #2E2D27;

* {
  margin: 0;
}

body {
  background-color: black;
}

.header {
  position: fixed;
  width: 100%;
  &_bg {
    object-fit: cover;
    width: 100%;
  }
  // &_bar {
  //   position: relative;
  //   height: 3rem;
  //   margin-top: -3.5rem;
  //   padding-top: 2rem;
  //   padding-bottom: 0.5rem;
  //   background: linear-gradient($transp, $dark 3rem);
  //   // box-shadow: 0 0.3em 0.3em 0 rgba(12, 12, 12, 0.75);
  // }
}

.paper_container {
  position: relative;
  top: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.paper {
  padding: 1.5rem;
  width: 50rem;
  text-align: center;
  background-color: rgba(226, 226, 226, 0.6);
  // opacity: 0.6;
  color: $ink;
  h2 {
    margin-top: 0.5rem;
  }
  p {
    margin: 0.5rem;
    font-size: large;
  }
}

.spread {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  float: right;
  margin-right: 1rem;
  font-size: xx-large;
}

.divide {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  p {
    margin-left: 1rem;
  }
  p:first-child {
    margin-left: 0;
    padding-right: 1rem;
    border-right: 2px solid $ink;
  }
}

.poem {
  width: 100%;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.pics {
  img {
    height: 25rem;
    object-fit: contain;
  }
}

p {
  font-family: 'Noto Sans', sans-serif;
}

li {
  font-family: 'Noto Sans', sans-serif;
}